<head>
    <link rel="stylesheet" href="./css/login-logout.css">
</head>

<div class="login-page screen">
    <div class="container">
      <img src="/img/PILIT_Logo.jpg" class="logo img-fluid" alt="logo">
      <div class="login-box">
        <h1 class="come-view-your-garden">Come view your garden!</h1><br>

        {{!-- Need to replace with fetch --}}
        {{!-- <form method="POST" action="./addplants.handlebars"> --}}

          <label for="username">Username:</label>
          <input type="text" id="username" name="username">   
          <label for="password">Password:</label>
          <input type="password" id="password" name="password">       
          <input type="submit" value="Login"><br>
          <input type="submit" value="Create Account">
          {{!-- <input type="submit" value="Create Account"> --}}
        </form>
      </div>
    </div>
  </div>
</div>