<head>
    <link rel="stylesheet" href="./css/login-logout.css">
</head>

<div class="logout-page screen">
    <div class="container">
      <img src="/img/PILIT_Logo.jpg" class="logo img-fluid" alt="logo">
      <div class="login-box"><br>
        <h1 class="garden-message">Thank you for visiting! Come back soon!</h1><br>
        </form>
      </div>
    </div>
  </div>
</div>