<head>
  <link rel="stylesheet" href="/css/mygarden.css">
</head>

<div class="my-garden-page screen">
<div class="flex-row">
    <div class="flex-col">
      <div class="flex-row-1">
<!-- Nav Bar -->
        <div class="button-container">
              <div class="button-potted inter-bold-white-12px">
                <a href="url">MY GARDEN</a></div>
              <div class="button-potted inter-bold-white-12px">  
                <a href="url">ADD PLANTS</a>
              </div>
              <div class="button-potted a inter-bold-white-12px">
                <a href="url">LOG OUT</a>
              </div>
        </div>
<!-- Plant 8 -->
        <div class="plant-8 plant-column">
          <div class="plant-8"></div>
            <h2>Prayer Plant</h2>
              <img class="img-plant" src="/img/prayerplant.jpg" alt="img-plant-8"/>
                <div class="overlap-group overlap">
                  <button class="water-plant-button inter-bold-white-12px" id="waterPlants">Water Plant</button>
              </div>
        </div>
      </div>
<!-- Plant 7 -->
      <div class="plant-7 plant-column">
        <h2>Olive Tree</h2>
        <img class="img-plant" src="/img/olivetree.jpg" alt="img-plant-7"/>
          <div class="overlap-group overlap">
            <button class="water-plant-button inter-bold-white-12px" id="waterPlants">Water Plant</button>
          </div>
      </div>
<!-- Plant 6 -->
      <div class="plant-6 plant-column">
        <div class="plant-6-1">
          <h2>Banana Tree</h2>
          <img class="img-plant" src="/img/bananatree.jpg" alt="img-plant-6"/>
        </div>
          <div class="overlap-group overlap">
            <button class="water-plant-button inter-bold-white-12px" id="waterPlants">Water Plant</button>
          </div>
      </div>
    </div>
<!-- Column for plants 1 and 5 -->
      <div class="flex-col-1">
        <!-- Plant 1 -->
              <div class="plant-1">
                <h2>ZZ Plant</h2>
                  <img class="img-plant" src="/img/zzplant.jpg" alt="img-plant-1"/>
                      <div class="overlap-group overlap">
                        <button class="water-plant-button inter-bold-white-12px" id="waterPlants">Water Plant</button>
                      </div>
              </div>    
<!-- Logo -->
      <img class="logo" src="/img/PILIT_Logo.jpg" alt="PILIT_Logo"/>
<!-- Plant 5 -->
      <div class="plant-5">
        <h2>Bird Nest Fern</h2>
          <img class="img-plant" src="/img/birdnestfern.jpg" alt="img-plant-5"/>
              <div class="overlap-group overlap">
                <button class="water-plant-button inter-bold-white-12px" id="waterPlants">Water Plant</button>
              </div>
      </div>
  </div>
</div>
    <!-- Plants on right column
    <div class="flex-row">
      <div class="flex-col">
        <div class="flex-row-3"> -->
      <!-- Plant 2 -->
          <!-- <div class="plant-2 plant-column">
            <h2>Peace Lily</h2>
              <img class="img-plant" src="/img/peacelily.jpg" alt="img-plant-2"/>
                <div class="overlap-group-1">
                  <button class="add-plant-button inter-bold-white-12px">Add Plant</button>
                </div>
          </div> -->
      <!-- Plant 3 -->
          <!-- <div class="plant-3 plant-column">
            <h2>Fern</h2>
              <img class="img-plant" src="/img/fern.jpg" alt="img-plant-3"/>
                  <div class="overlap-group5 overlap">
                    <button class="add-plant-button inter-bold-white-12px">Add Plant</button>
                  </div>
          </div> -->
      <!-- Plant 4 -->
          <!-- <div class="plant-4 plant-column">
            <h2>Cactus</h2>
            <img class="img-plant" src="/img/cactus.jpeg" alt="img-plant-2"/>
                <div class="overlap-group-1">
                  <button class="add-plant-button inter-bold-white-12px">Add Plant</button>
                </div>
          </div> -->
      </div>
    </div>