<head>
    <link rel="stylesheet" href="./css/mygarden.css">
</head>

<div class="my-garden screen">
  <div class="frame-3">
    <p class="pot-it-like-its-hot">Pot It Like It’s Hot</p>
  </div>
  <div class="flex-row">
    <div class="frame-2">
      <div class="frame-13"><div class="my-garden-1">My garden</div></div>
      <div class="add-plants" id="addPlants">Add plants</div>
    </div>
    <div class="flex-col">
      <div class="blooming inter-normal-black-20px">Blooming</div>
      <div class="plant-2">
        <div class="frame-9-1 frame-9-4"></div>
        <div class="snake-plant inter-normal-black-11px">Snake plant</div>
        <div class="frame-10">
          <div class="water-me inter-normal-white-11px">Water me!</div>
        </div>
      </div>
      <div class="place inter-normal-black-20px">Vining</div>
      <div class="plant-5">
        <div class="frame-9"></div>
        <div class="plant-name-1 inter-normal-black-11px">Plant name</div>
        <div class="frame-10-1">
          <div class="water-me inter-normal-white-11px">Water me!</div>
        </div>
      </div>
    </div>
    <div class="flex-row-1">
      <div class="flex-col-1">
        <h1 class="title">My garden</h1>
        <div class="plant-3">
          <div class="frame-9-2 frame-9-4"></div>
          <div class="hibiscus inter-normal-black-11px">Hibiscus</div>
          <p class="address-1 address-3 inter-light-black-10px">
            2 days till next watering
          </p>
        </div>
        <div class="plant-6">
          <div class="frame-9"></div>
          <div class="plant-name inter-normal-black-11px">Plant name</div>
          <p class="address-2 address-3 inter-light-black-10px">
            2 days till next watering
          </p>
        </div>
      </div>
      <div class="plant-container">
        <div class="plant-4">
          <div class="frame-9-3 frame-9-4"></div>
          <div class="succulent inter-normal-black-11px">Succulent</div>
          <p class="address inter-light-black-10px">
            3 days till next watering
          </p>
        </div>
        <div class="plant-7">
          <div class="frame-9"></div>
          <div class="plant-name inter-normal-black-11px">Plant name</div>
          <p class="address inter-light-black-10px">
            3 days till next watering
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
