<head>
    <link rel="stylesheet" href="./css/viewplant.css">
</head>

<div class="view-specific-plant screen">
  <div class="frame-3">
    <p class="pot-it-like-its-hot">Pot It Like It's Hot</p>
  </div>
  <div class="flex-row">
    <div class="frame-2">
      <div class="frame-13"><div class="my-garden">My garden</div></div>
      <div class="add-plants">Add plants</div>
    </div>
    <div class="frame-9"></div>
    <div class="flex-col">
      <h1 class="title">Succulent</h1>
      <div class="category-indoor inter-normal-black-20px">
        Category: Indoor
      </div>
      <p class="lorem-ipsum-dolor-si inter-normal-black-20px">
        Lorem ipsum dolor sit amet consectetur. Eget libero placerat velit
        auctor orci aliquet praesent arcu cras.
      </p>
      <p class="a-aliquam-aliquam-nu inter-normal-black-20px">
        A aliquam aliquam nunc mauris mus. Accumsan morbi sit enim dolor. Vel
        eget non cum nec enim sagittis integer imperdiet.
      </p>
      <div class="last-watered-mmddyyyy">Last watered: MM/DD/YYYY</div>
      <div class="frame-10"><div class="water-me">Water me!</div></div>
    </div>
  </div>
</div>