<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pot It Like It's Hot</title>
    <link rel="stylesheet" href="./css/addplants.css">
</head>

<div class="add-plants-page screen">
        <div class="frame-3">
          <p class="pot-it-like-its-hot">Pot It Like It’s Hot</p>
        </div>
        <div class="flex-row">
          <div class="flex-row-1">
            <div class="frame-2">
              <div class="my-garden">My garden</div>
              <div class="frame-12"><div class="add-plants add">Add plants</div></div>
            </div>
            <div class="plant-container plant-2">
            <!-- Plant 1 -->
              <div class="plant">
                <div class="frame-9-1 frame-9-5" id="#plant-image-1"></div>
                <div class="petunia inter-normal-heavy-metal-11px" id="#plant-name-1">English Ivy</div>
                <div class="frame-10">
                  <button class="add-plant add inter-normal-orange-white-11px" type="button">
                    Add plant!
                  </button>
                </div>
              </div>
            <!-- Plant 5 -->
              <div class="plant">
                <div class="frame-9" id="#plant-image-5"></div>
                <div class="petunia-5 inter-normal-heavy-metal-11px" id="#plant-name-5">Petunia</div>
                <div class="frame-10">
                  <button class="add-plant add inter-normal-orange-white-11px" type="button">
                    Add plant!
                  </button>
                </div>
              </div>

            </div>
          </div>
          <div class="flex-col">
            <h1 class="title">Add some plants!</h1>
            <div class="flex-row-2">
              <div class="plant-container-1 plant-container-4">
            <!-- Plant 2 -->
                <div class="plant-3 plant-2">
                  <div class="frame-9-2 frame-9-5" id="#plant-image-2"></div>
                  <div class="place inter-normal-heavy-metal-11px" id="#plant-name-2">Cactus</div>
                  <div class="frame-10">
                    <button class="add-plant add inter-normal-orange-white-11px" type="button">
                      Add plant!
                    </button>
                  </div>
                </div>
                <!-- Plant 6 -->
                <div class="plant-8 plant-2">
                  <div class="frame-9" id="#plant-image-6"></div>
                  <div class="petunia-5 inter-normal-heavy-metal-11px" id="#plant-name-6">Petunia</div>
                  <div class="frame-10">
                    <button class="add-plant add inter-normal-orange-white-11px" type="button">
                      Add plant!
                    </button>
                  </div>
                </div>
              </div>
              <div class="plant-container-2 plant-container-4">
              <!-- Plant 3 -->
                <div class="plant">
                  <div class="frame-9-3 frame-9-5"></div>
                  <div class="name inter-normal-heavy-metal-11px">Fern</div>
                  <div class="frame-10">
                    <button class="add-plant add inter-normal-orange-white-11px" type="button">
                      Add plant!
                    </button>
                  </div>
                </div>
                <!-- Plant 7 -->
                <div class="plant-1 plant-2">
                  <div class="frame-9"></div>
                  <div class="petunia-5 inter-normal-heavy-metal-11px">Aloe</div>
                  <div class="frame-10">
                    <button class="add-plant add inter-normal-orange-white-11px" type="button">
                      Add plant!
                    </button>
                  </div>
                </div>
              </div>
              <div class="plant-container-3 plant-container-4">
                <!-- Plant 4 -->
                <div class="plant">
                  <div class="frame-9-4 frame-9-5"></div>
                  <div class="snake-plant inter-normal-heavy-metal-11px">
                    Snake Plant
                  </div>
                  <div class="frame-10">
                    <button class="add-plant add inter-normal-orange-white-11px" type="button">
                      Add plant!
                    </button>
                  </div>
                </div>
                <!-- Plant 8 -->
                <div class="plant-1 plant-2">
                  <div class="frame-9"></div>
                  <div class="petunia-5 inter-normal-heavy-metal-11px">Monstera
                  </div>
                  <div class="frame-10-1">
                    <button class="add-plant add inter-normal-orange-white-11px" type="button">
                      Add plant!
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>