<head>
    <link rel="stylesheet" href="./css/login.css">
</head>

<div class="login-page screen">
    <div class="container">
      <img src="/public/img/PILIT_Logo.jpg" class="logo img-fluid" alt="logo">
      <div class="login-box">
        <h1 class="come-view-your-garden">Come view your garden</h1>
        <form method="POST" action="./addplants.handlebars">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username"><br>     
          <label for="password">Password:</label>
          <input type="password" id="password" name="password"><br>        
          <input type="submit" value="Login">
        </form>
      </div>
    </div>
  </div>
</div>