   <div class="login-page screen">
        <div class="log-in">
          <div class="image1"></div>
          <div class="flex-col">
            <h1 class="pot-it-like-its-hot">Pot It like It’s hot</h1>
            <div class="login-box">
              <div class="come-view-your-garden">Come view your garden</div>
                <form>
                  <label for="username">Username:</label>
                  <input type="text" id="username" name="username"><br>
                
                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password"><br>
                
                  <input type="submit" value="Login">
                </form>
            </div>
          </div>
        </div>
      </div>