@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:400|Indie+Flower:400");

/* Universal selectors */
* {
  box-sizing: border-box;
}

/* Element selectors */
body {
  background-color: #fcf9ec;
}

h1 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m2);
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

/* Class selectors */
.add-plants-page {
  justify-content: center;
  flex-direction: center;
  align-items: center;
}

.container {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 3px;
  min-height: 393px;
}

label {
  margin-bottom: 5px;
}

.login-box {
  align-items: center;
  background-color: #fad5a1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 31px 100px;
  position: relative;
  width: fit-content;
}

.login-button,
.create-account-button {
  display: block;
  margin-top: 16px;
  padding: 8px 16px;
  border: none;
  color: white; 
  border-radius: 8px;
  background-color: #8fa571;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-button:hover,
.create-account-button:hover {
  background-color: #8fa571;
}

.login-page {
  justify-content: center;
  flex-direction: center;
  align-items: center;
}

.logo {
  max-width: 100%;
  height: auto;
  border-radius: 50%
}

.logout-page {
  justify-content: center;
  flex-direction: center;
  align-items: center;
}




@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

:root {
  --alto: #d9d9d9;
}

* {
  box-sizing: border-box;
}

.frame-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 29px;
  min-width: 894px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.plant-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 87px;
  min-height: 663px;
  width: 237px;
}

.plant-4 {
  background-color: var(--alto);
  border-radius: 73.5px;
  height: 147px;
  margin-top: 126px;
  width: 147px;
}

.plant-3 {
  align-self: flex-end;
  background-color: var(--alto);
  border-radius: 73.5px;
  height: 147px;
  margin-top: 96px;
  width: 147px;
}

.plant {
  background-color: var(--alto);
  border-radius: 73.5px;
  height: 147px;
  width: 147px;
}

.frame-1 .flex {
  align-items: center;
  display: flex;
}

.flex-row {
  gap: 63px;
  height: 823px;
  min-width: 628px;
}

.flex-col {
  flex-direction: column;
  min-height: 823px;
  width: 344px;
}

.plant-5 {
  background-color: var(--alto);
  border-radius: 73.5px;
  height: 147px;
  margin-right: 15px;
  margin-top: 94px;
  width: 147px;
}

.plant-1 {
  background-color: var(--alto);
  border-radius: 73.5px;
  height: 147px;
  margin-left: 1px;
  width: 147px;
}

.pilit_-logo-1 {
  height: 348px;
  margin-top: 87px;
  object-fit: cover;
  width: 344px;
}

.plant-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
  min-height: 623px;
  width: 221px;
}

.plant-7 {
  align-self: flex-start;
  background-color: var(--alto);
  border-radius: 73.5px;
  height: 147px;
  margin-top: 96px;
  width: 147px;
}

.plant-6 {
  background-color: var(--alto);
  border-radius: 73.5px;
  height: 147px;
  margin-right: 1px;
  margin-top: 86px;
  width: 147px;
}
