@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:400|Indie+Flower:400");

/* Universal selectors */
* {
  box-sizing: border-box;
}

/* Element selectors */
body {
  background-color: #fcf9ec;
}

h1 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m2);
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

input[type="submit"] {
  background-color: #adad5c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Class selectors */
.container {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 3px;
  min-height: 393px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inter-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 400;
}

label {
  margin-bottom: 5px;
}

.login {
  color: var(--text);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s2);
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.login-box {
  align-items: center;
  background-color: #fad5a1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  /* gap: 19px; */
  overflow: hidden;
  padding: 31px 174px;
  position: relative;
  width: fit-content;
}

.login-box-item {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.log-in {
  align-items: center;
  background-color: var(--tan);
  display: flex;
  height: 832px;
  width: 100%;
}

.login-page {
  justify-content: center;
  flex-direction: center;
  align-items: center;
}

.logout-page {
  justify-content: center;
  flex-direction: center;
  align-items: center;
}

.logo {
    max-width: 100%;
    height: auto;
    border-radius: 50%
}